.Q2 {
    padding: 0 20px;


}

.work__title {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.level2__instruction {
    margin: 20px 0px;
    text-decoration: underline;
    text-align: center;
}

.level2__title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.level2__other {
    margin-top: -10px;
    margin-bottom: 10px;
}

.level2__textarea {
    width: 60%;

}